@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>

<div class="text-center col-8 offset-2">
    <header class="pt-4">
        <div id="carouselExampleIndicators" class="carousel slide" style="margin-bottom: 100px;">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Image/domuzgribi.jpg" class="d-block w-100" alt="..." style="height:450px">
                </div>
                <div class="carousel-item">
                    <img src="~/Image/saglik1.jpg" class="d-block w-100" alt="..." style="height:450px">
                </div>
                <div class="carousel-item">
                    <img src="~/Image/omurilik.jpg" class="d-block w-100" alt="..." style="height:450px">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="border-top">
            <h1>Sağlıklı Yaşam Prensipleri</h1>
            <p>
                Cildinizdeki yağ salgısı dudaklarda daha az olduğu için dudaklarınız kurumaya ve çatlamaya yatkındır.
                Bu nedenle cildinize gösterdiğiniz özeni dudaklarınıza da göstermelisiniz. Özellikle soğuk havalarda
                dudaklar kurumaya daha yatkındır. Soğuk kış aylarında dudak kurumasını önlemek için aşağıdaki önerileri uygulayabilirsiniz.
            </p>
            <p>
                Bu ay keşke işe gitmeden param yatmış olsa! Hatta hayat kalitemi yükseltecek kadar iyi para....Tamam da aramızda bunu yaşayan
                biri varsa ne mutlu ona. Çalışmadan ve emek sarf etmeden kumbaramıza para atamayacağımız gibi çaba göstermeden de sağlığımızı
                koruyamayız. Gençlik yıllarında hiç kaybetmeyecek gibi görünüyor olsa da sağlığımız ile ilgili olan yatırımı da bu yıllarımızda
                yapıyoruz. Peki hem geleceğe yatırım yapmak hem de bugünümüzü iyi yaşayabilmek için sağlığımızla ilgili nelere dikkat etmen gerekli.
            </p>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/1CfDshZXiSg" title="YouTube video player" frameborder="0" allow="accelerometer;
                autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </header>

    <footer>
    </footer>

</div>




