@{
    ViewData["Title"] = "Gizlilik Politikası";
}
<h1 class="form-group mb-5 display-4 border-bottom text-center pb-2">Gizlilik Politikası</h1>

<h4>Hakkınızda hangi bilgileri topluyoruz?</h4>
<ol>
    <li class="navbar-brand">Sizin doğrudan verdiğiniz bilgiler..</li>

    <p class="nav-link text-dark">Bazı Hizmetler, bize doğrudan bilgi vermenize olanak tanır. Örneğin:</p>
    <ul>
        <li>Hastanelerimizde sunmuş olduğumuz Sağlık Hizmetlerimiz, müşterilerimizin ad, soyad, T.C. Kimlik No vb.
            tüm kimlik bilgilerini bizlere iletmesini zorunlu kılmaktadır. Örneğin hastanelerimize sağlık muayenesi
            başvurusunda bulunduğunuz takdirde, sizlere hizmet sunabilmemiz için kimlik bilgilerinizi bize iletmeniz gerekecektir.</li>
        <li>Web sitemizde yer alan Online İşlemler bölümünden randevu alabilmeniz için, kimlik bilgilerinizi isteyebiliriz.</li>
        <li>Çeşitli hizmetlerimizden faydalanabilmeniz için kimlik bilgilerinizi isteyebiliriz.</li>
    </ul>
    <p></p>
    <li class="navbar-brand">Hizmetler’i kullanımınıza ilişkin bilgiler..</li>
    <p class="nav-link text-dark">Verdiğiniz bilgilere ek olarak, diğer Medicana hastanelerinden almış olduğunuz Hizmetlerimizi kullanımınıza ilişkin bilgiler 
        toplayabiliriz. Örneğin, aşağıdaki bilgileri toplayabiliriz:</p>
    <ul>
        <li><span style="font-size:larger">Kimlik Bilgileri : </span>Ad, soyad, T.C.Kimlik Numarası vb. tüm kimlik bilgileri</li>
        <li><span style="font-size:larger">Sağlık Bilgileri : </span>Hastanelerimizde görmüş olduğunuz tüm tedavilere ilişkin bilgiler</li>
        <li><span style="font-size:larger">İletişim  Bilgileri : </span>E-posta, Telefon numarası vb. sizinle iletişim kurmaya yardımcı bilgiler 
            bize iletilebilir.</li>
    </ul>
    <p></p>
    <li class="navbar-brand">Üçüncü taraf kaynaklardan gelen bilgiler..</li>
    <p class="nav-link text-dark">Genel kullanıma açık ve ticari olarak kullanılabilen kaynaklardan (yasaların izin verdiği ölçüde) sizin hakkınızda bilgi alabilir ve 
        bu bilgileri, sizden veya sizin hakkınızda aldığımız diğer bilgilerle birleştirebiliriz. Ayrıca, Hizmetlerimizin tesisi amacıyla üçüncü 
        taraf konumundaki yakınlarınızdan size ait bilgilerin verilmesini isteyebiliriz.
    </p>
    <p></p>
</ol>
